*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #f4ebdb;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
h1{
    padding: 25px 0;
    text-align: center;
    color: #2c4a52;
}
form{
    display: flex;
    flex-direction: column;
}
.title_container{
    width: 40%;
    padding: 10px;
}
.img_container{
    display: flex;
}
input{
    padding: 10px 0 10px 5px;
}
button{
    background-color: #537072;
    width: 20%;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    color: #f4ebdb;
}

.row {
    width: 100%;
    float: left;
}
.col {
    float: left;
    width: 25%;

}